*,
*:after,
*:before {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html{

    height:auto;

}

@font-face {
  font-family: $font-a, sans-serif;
  font-display: swap;
}

body {

    font-family:$font-a;
    height:auto;
    font-size: $font-size-initial;
    line-height: normal;
    font-weight: $font-weight-initial;
    overflow-x: hidden;

    @if $debug {

        * { outline: 1px dotted red }
        * * { outline: 1px dotted green }
        * * * { outline: 1px dotted orange }
        * * * * { outline: 1px dotted blue }
        * * * * * { outline: 1px solid red }
        * * * * * * { outline: 1px solid green }
        * * * * * * * { outline: 1px solid orange }
        * * * * * * * * { outline: 1px solid blue } 

    }
    
}

h1, h2, h3, h4, h5, h6 {

    color: #000;
    padding-bottom: 0px;
    font-family:$font-b;
    margin:0;
    text-transform: inherit;
    font-weight: 400;

}

h1 { font-size: 4em;  line-height: 1.2em; }
h2 { font-size: 3em;  line-height: 1.2em; }
h3 { font-size: 2em;    line-height: 1.2em; }
h4 { font-size: 1.8em;  line-height: 1.2em; }
h5 { font-size: 1.6em;  line-height: 1.2em; }
h6 { font-size: 1.4em;  line-height: 1.2em; }

p{

    font-family:$font-a;
    font-weight: $font-weight-initial;
    -webkit-font-smoothing: antialiased;
    color:#000;
    padding: 0;
    padding-bottom: 20px;
    margin: 0;
    font-size: 1em;
    line-height: 1.2em;

    b, strong{

        color: $color-a;

    }

    img{

        margin: 0 auto;
        display: block;

    }

    &:last-child{

        padding-bottom: 0px;

    }

}

a{

    transition: $vdrButtonTransition;
    color: $color-a;
    text-decoration: none;
    cursor: pointer;
    font-family:$font-a;
    font-weight: $font-weight-initial;
    -webkit-font-smoothing: antialiased;
    transition: all .3s ease;

    &:hover{

        color: $color-b;

    }

}

ul{

    list-style-type: none;
    padding: 0;
    margin: 0;

}

img{

    max-width:100%;
    width:100%;
    height:auto;
}

button:focus{

    outline: none !important;
}

