.o-button{

	padding: 10px 20px;
    background: $color-b;
    border: 2px solid $color-b;
    color: $color-a;
    transition: all .4s ease;

    &:hover{

    	border: 2px solid $color-a;
    	background: white;
    	color: $color-a;
    }

    &-to-top{

        display: none;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        position: fixed;
        right: 25px;
        bottom: 75px;
        background: $color-a;
        border-radius: 50%;
        color: white;
        z-index: 99999;
        transition: .6s all ease-in-out;
        cursor: pointer;

        &:hover{

            transform: scale(1.1);
            opacity: .8;
            background: $color-b;
        }

        &.show{

            display: flex;
        }
    }
}