.effect-hover{

    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    max-height: 220px;
    width: 100%;
    background: #000000;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
    margin-top: 5px;

    @include md(){

        width: calc((100% / 3) - 20px);
        margin-bottom: 0px;
        margin-top: 0px;
    }

    &:before {
        
        height: 200%;
        width: 100%;
        top: -50%;
        left: 0;
        content: '';
        background: #ffffff;
        position: absolute;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        -webkit-transform: rotate(110deg) translateY(-50%);
        transform: rotate(110deg) translateY(-50%);
    }

    * {

        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    img {

        max-width: 100%;
        position: relative;
        opacity: 0.4;
    }

    figcaption {

        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    h3 {

        position: absolute;
        left: 40px;
        right: 40px;
        display: inline-block;
        background: #000000;
        -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
        transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
        padding: 12px 5px;
        margin: 0;
        top: 50%;
        text-transform: uppercase;
        font-weight: 400;
        color: white;
        font-size: 2em;

        span {

            font-weight: 800;
        }
    }

    a {
        
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
    }
    &.red {

        background: $color-b;
      
        h3 {
        
            background: $color-a ;
        }
    }

    &.hover,  &:hover {
        
        img {

            opacity: 1;
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }

        h2 {

            -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
            transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
        }

        &:before {

            -webkit-transform: rotate(110deg) translateY(-150%);
            transform: rotate(110deg) translateY(-150%);
        }
    }
}
