.o-flex{
	
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    @include md(){

        flex-direction: row;
    }

    &--left{

    	justify-content: flex-start;
    }

    &--right{

    	justify-content: flex-end;
    }

    &--top{

        align-items: flex-start;
    }

    &--bottom{

        align-items: flex-end;

    }

	&--column{

		flex-direction: column;
	}

    &--between{

        justify-content: space-between;
    }

    &--no-responsive{

        flex-direction: row;
    }
}