.o-hide{
	
    &-mobile{

		@include only-xs{
            display: none;
    	}

        @include only-sm{
            display: none;
        }
    }

    &-desktop{

        @include only-md(){

            display: none;
        }

        @include only-lg(){

            display: none;
        }
    }
}