.o-image{

	&_box{

		&>img{
			object-fit: cover;
	    	object-position: center center;
	    	width: 100%;
		}
	}

	&_box-aspect{

		position: relative;

		@include md(){

			height: 0px;
			width: 100%;
			display: block;
		}
		
		&>img{

			@include md(){
				position: absolute;
				left: 0px;
				top: 0px;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center center;
			}
		}

		&--130{

			@include md(){

				padding-bottom: 130%;
			}
		}

		&--60{

			@include md(){

				padding-bottom: 60%;
			}
		}

		&--youtube{

			@include md(){

				padding-bottom: 56.20%;

				&>iframe{
			
					position: absolute;
					left: 0px;
					top: 0px;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}