.o-post{

	width: 100%;
	padding-bottom: 50px;

	&_img{
	    &-container{

		    display: block;
		    margin-bottom: 1.8em;
	    }

	    &-effect{

	    	position: absolute;
	    	top: 0;
	    	left: 0;
	    	width: 100%;
	    	height: 100%;
	    	display: flex;
	    	justify-content: center;
	    	align-items: center; 
	    	background: rgba(0, 0, 0, 0.8);
	    	opacity: 0;
			transition: all .4s ease;
			padding: 5px;
			
			&__title{

				color: #b97fd0;
				font-weight: bold;
				margin-bottom: 10px;
			} 


	    	.far{

	    		width: 80px; 
	    		height: 80px;
	    		border-radius: 50%;
	    		background: $color-b;
	    		color: $color-a;
	    		transition: all .3s ease;
	    		display: flex;
			    justify-content: center;
			    align-items: center;
			    font-size: 20px;

	    		&:hover{

	    			background: $color-a;
	    			color: $color-b;
	    		}


	    	}

	    	&:hover{

	    		opacity: 1;
	    	}
	    }
	}

	&--midle{

		@include md(){

			width: calc(50% - 25px);
		}
	}

	&_title{

		text-align: center;
	    font-size: 1.5em;
	    line-height: 1.3em;

		&-text{

			font-family:$font-b;
		    text-transform: inherit;
		    font-weight: 400;
			font-size: 1em;
			color: $color-a;
		}
	}

	&_excerpt{

		padding-top: 1em;
    	line-height: 1.5em;
    	padding-bottom: 60px !important; 
    	position: relative;

    	&-read_more{

		    position: absolute;
		    left: 50%;
		    bottom: 0;
		    transform: translateX(-50%);
    	}
	}
}
	