.o-sidebar{

	.widget_search{

		background-color: $color-c ;
	    background-image: $back-a;
	    padding: 40px 30px;
	    margin-bottom: 30px;



	    .search-form{

		    position: relative;

	    	&:hover{

	    		.search-field-submit{

	    			color: $color-a;
	    		}
	    	}
	    }

	    .screen-reader-text{

	    	display: none;
	    }

	    .search-field{

	    	padding: 22px;
		    color: $color-a;
		    box-shadow: none;
		    outline: none!important;
		    width: 100%;
		    padding-right: 30%;
		    border: 2px solid $color-e;
		    background-color: $color-c ;
		    transition: all .4s ease;

		    &:focus{

	    	 	border: 2px solid $color-b;
	    	 	background: white;
	    	}
	    }

	    .search-field-submit{

    	    padding: 15px;
		    color: $color-d ;
		    box-shadow: none;
		    outline: none!important;
		    width: 30%;
		    border: none;
		    font-size: 30px;
		    color: $color-b;
		    -webkit-transition: all .3s ease;
		    transition: all .3s ease;
		    position: absolute;
		    right: 2px;
		    top: 2px;
		    cursor: pointer;
		    background: transparent;
	    }
	}
	.widget_categories{

		background-color: $color-c ;
	    background-image: $back-a;
	    margin-bottom: 30px;

		.sidebar-title{

			background-color: $color-b;
		    padding: 40px 20px;
			font-size: 1.5rem;
		}

		& > ul{

			padding: 2em 2em;

			& > li:first-child {

				border-top: none;
			}
		}

		.cat-item{

			font-size: 1.1em;
    		position: relative;
    		border-top: 2px dashed;

		    margin-top: 0.1em;
		    padding-top: 0.4em;
		    background: $color-c;
		}
	}

	.widget_recent_entries{

		background-color: $color-c;
	    background-image: $back-a;
	    margin-bottom: 30px;

	    .sidebar-title{

			background-color: $color-b;
		    padding: 40px 20px;
		    font-size: 1.5rem;
		}

		& > ul{

			padding: 2em 2em;

			li{

				background: $color-c;
			}

		}

		.art_item{

			margin-bottom: 3em;
		}

		.art_img{

			margin-bottom: 1em;
		
		}

		.post-date{

			display: block;
		    font-size: 13px;
		    line-height: 1.5em;
		    margin: 1em 0 1em !important;
		    text-transform: uppercase;
		    text-align: right;
		    font-weight: 700;
		    color: $color-b;

		}
	}

	.et_bloom_optin{

		margin-top: 0px !important;

		.et_bloom_form_content{

			padding-top: 0px !important;
		}

		.et_bloom_fields{

			display: flex;
			flex-direction: column;

			& > .et_bloom_popup_input, & > .et_bloom_submit_subscription{

				width: 100%;
				padding-right: 0;
				margin: 5px 0px;
			}
		}
	}
}