// =========================================================================================
// VARS
// =========================================================================================


// DEBUG
$debug : false;


// PALETTE

	// COLOR PRIMARY
	$color-a: black;

	// COLOR SECONDARY
	$color-b : #222222;

	// COLOR THREE
	$color-c : white;

	// COLOR FOUR
	$color-d : #745e73;

	// COLOR five
	$color-e : #a0a0a0;


// TIPOGRAPHY

	// FONTS
	$font-a 		: 'Roboto Condensed';
	$font-b 		: 'PT Serif';
	$font-icon		: 'Font Awesome 5 Free';

	// DEFAULT SIZE
	$font-size-initial : 18px;

	// DEFAULT LINE HEIGHT
	$line-height-initial : 18px;

	// DEFAULT WEIGHT
	$font-weight-initial : 500;

	$fa-font-path	     : "../fonts";


// BACKGROUND

	$back-a			: url(/wp-content/uploads/2020/03/stardust.png);


// THEME VARS


	//BUTTONS

		$vdrButtonTransition : .4s all ease-in-out; 
// MENU

	// DESKTOP

	// MOBILE


	// MAX WIDTH LOGO
	$max-width-logo : 240px;

// CUSTOM SCROLLBAR VARS

	// SIZE
	$scrollbar__size : 8px;
	$scrollbar-button__size : 1px;

	// RAIL
	$scrollbar-track__bg : transparent;
	$scrollbar-track__border : 1px solid transparent;
	$scrollbar-track__border-radius : 10px;

	// BUTTON
	$scrollbar-thumb__bg : #303030;
	$scrollbar-thumb__border : 1px solid #FEFEFE;
	$scrollbar-thumb__border-radius : 10px;

	


