.c-desktop-menu, .c-desktop-menu__rrss{

	display: none;
}

@include md(){

	
	.c-desktop-menu{

		display: block;

		&__menu{

			.menu-item{

				max-width: 110px;
    			text-align: center;
				position: relative;

				&:hover{
					
					& .sub-menu{
						
						opacity: 1;
						visibility: visible;
					}
				}

				& > a{

					font-size: 16px;
				}
			}	
		}

		.sub-menu{

		    visibility: hidden;
		    opacity: 0;
		    transition: .3s all ease-in-out;
		    width: 200px;
		    background: $color-b;
		    top: 110%;
		    left: 50%;
		    border-top: 2px solid $color-a;
		    transform: translateX(-50%);
		    padding: 15px;
		    position: absolute;

		    .menu-item{

		    	max-width: 100%;
		    	margin-right: 0px;

		    	& > a{

		    		color: white;
		    		display: block;
    				padding: 5px 0px;

		    		&:hover{

		    			color: $color-a;
		    		}
		    	}
		    }
		}

		&__rrss{

			margin-left: 50px;
			display: block;

			.c-social-icon{

				padding: 5px;
				margin: 0px 5px;
				position: relative;
				border-radius: 50%;
				border: 2px solid $color-a;
				width: 40px;
				height: 40px;

				&:hover{

					border: 2px solid $color-b;
				}
			}
		}
	}
}