.c-footer{

    background: $color-a;

    &__by{

        padding: 10px 20%;
        background: $color-c;
        color: white;
        text-align: center;
        font-size: 15px;

         span{

            display: block;
            margin-top: 5px;

            @include md(){

                display: inline-block;
                margin-top: 0px;
            }
        }


        & > a{

            color: white;
            display: block;
            text-emphasis: center;
        }
    }

    &__container{

        padding: 50px 20px;
    }

    &__column{

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0px;

        @include md(){

            width: 30%;
        }

        .fa-envelope{

            padding-left: 2px;
            min-width: 28px;
        }

        a{

            color: white;
            
            &:hover{

                color: $color-b;
            }
        }
    }

    &-menu__wrapper{

        text-align: center;
    }

    &-title{

        font-size: 25px;
	    font-weight: 500;
	    line-height: 1em;
	    position: relative;
	    padding-bottom: 20px;
        margin-bottom: 20px;
        color: white;

        &:after{

	    	position: absolute;
	    	bottom: 0;
	    	left: 50%;
    		transform: translateX(-50%);
	    	width: 150px;
	    	height: 1px;
	    	background: white;
	    	content: "";
	    }
    }

    .c-social-icon, .menu-item{

        color: white;
        margin: 4px 0px;

        &:hover{

            color: $color-b;
        }

        .fa-instagram, .fa-facebook-f{

            padding-left: 2px;
            min-width: 28px;
        }

        .fa-youtube{

            min-width: 30px;
        }
    }
}