.c-mobile-menu{

	@include md(){

		display: none;
	}

	background: rgba(50, 50, 50, 1);
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    transform: translateX(-100%);
    z-index: 9999;

    &.is-active{

    	transform: translateX(0%);
    }

    &__container{

        min-height: 100%;
        position: relative;
        padding-top: 70px;
    }

    &__nav{

    	padding: 20px;
        transition: all 0.9s ease-in-out 0.3s;
        transform: translateX(-100px);
        width: 100%;

        .is-active & {

            transform: translateX(0px);
        }
    }

    &__hamburger{

        position: absolute;
        top: 30px;
        right: 0;
        filter: invert(1);
    }

    &__menu{

        a{

            font-size: 1.2em;
            padding: 8px 8px;
            color: white;
            display: block;
        }

        .menu-item{

            margin-right: 0px;
        }

        .sub-menu{

            display: none;
            margin-left: 10px; 
            position: relative;

            &::before{

                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 2px;
                height: 0px;
                transition: .8s all ease-in-out 1s;
                background: white;
            }
        }

        li.is-visible .sub-menu{

            &::before{

                height: 100%;
            }
        }

        .menu-item-has-children{

            position: relative;
            margin-right: -10px;
        }

        &-arrow{

            position: absolute;
            right: 0;
            top: 0;
            transition: .8s all ease-in-out;
        }

        li.is-visible &-arrow{

            transform: rotateX(180deg);
        }
    }

    &__rrss{

        padding-bottom: 20px;
        padding-top: 20px;

        &-icon{

            width: 40px;
        }

        .c-social-icon{

            padding: 5px;
            margin: 0px 20px;
            position: relative;
            border-radius: 50%;
            border: 2px solid $color-b;
            color: $color-b;
            width: 40px;
            height: 40px;

            &:hover{

                border: 2px solid white;
                color: white;
            }
        }
    }
}
