.c-top-bar{

	padding: 10px 0px;
    background: $color-a;

    &__rrss{
        
        display: none;
        padding-left: 50px;

        @include md(){

        	display: inherit;
        }

        &-icon{

            width: 30px;
		    display: inline-block;
		    padding-left: 10px;
        }
    }
}